@{
    ViewData["Title"] = "About Me";
}
<h1>@ViewData["Title"]</h1>

<h4>Hi, I'm Zach!</h4>

<p>
    I have been 3D printing for nearly 10 years and want to share what I have learned with others. 
    I still am learning and experimenting to this day, but I have a decent handle on how it works for both functional printing, where niche problems 
    are solved with custom designs and strong prints, and cosplay printing, where the goal is to make something that looks good and is wearable, 
    but doesn't need to be strong or functional. Explore the rest of the website to learn more!
</p>