@{
	ViewData["Title"] = "Cosplay / Display Prints";
}
<h1>@ViewData["Title"]</h1>

<h2>Making Prints Look Good</h2>

<p>
	Cosplay and display prints are focused on aesthetics and visual appeal rather than functionality. 
	These prints are often used for costumes, props, or decorative items, where the goal is to create something that looks good and is wearable, but doesn't need to be strong or functional.
	Display prints are decoritive pieces that are meant to be displayed, such as a statue or a model, and may not need to be wearable or functional at all.
	Depending on how intent behind the display print, it may not require any additional post processing beyond removing support material
	or it may require extensive post processing such as filling, sanding, priming, and painting to achieve the desired look.
	Cosplay prints very much depend on the final look of the print, as they are meant to be worn and seen up close, so post processing is often necessary to achieve a smooth and visually appealing finish.
	This typically involves filling in any visible layer lines with a filler material, sanding the surface to create a smooth finish,
	and then priming and painting the print to achieve the desired color and appearance.
</p>

<h3>Display Prints</h3>

<p>
	Display prints are decorative pieces that are meant to be displayed, such as a statue or a model.
	These do not require any additional considerations when slicing or printing, with the exception of the intended look of the print, 
	which may require specific settings such as a finer layer height for a smoother finish.
	When printing a display piece, the physical properties of the material are not as important, which allows for a wider range of materials to be used,
	including more visually appealing materials such as "silk" or color changing filaments, or even resin for a smoother finish.
</p>

<h3>Cosplay Prints</h3>

<p>
	Cosplay prints are a cross between functional prints and display prints, as they need to be visually appealing but also strong enough to survive wearing and use as part of a costume or prop. 
	When slicing a cosplay print, it may be worth increasing the infill density of the print to make it stronger, but it is important to consider the total weight of the print,
	as a heavier print may be less comfortable to wear and more likely to break under stress.
	The material of a cosplay print is important to consider, but the appearance of the un-processed print does not matter as much as the final look will be determined by the post processing,
	with the exception of the material's ability to be post processed, as some materials are more difficult to sand and paint than others.
</p>

<h3>Post Processing</h3>

<p>
	Post processing is the process of finishing a 3D print after it has been printed, and is often necessary for cosplay and display prints to achieve the desired look and finish.
	For cosplay prints, post processing typically involves filling in any visible layer lines with a filler material, sanding the surface to create a smooth finish,
	and then priming and painting the print to achieve the desired color and appearance.
	For display prints, post processing may not be necessary if the print is already visually appealing, but it can be used to enhance the appearance of the print or to achieve a specific look.
</p>

<h4>My Personal Post Processing Steps</h4>

<ul>
    <li>Remove support material</li>
	<li>Roughly sand entire print (180 or 220 grit)</li>
	<li>Dilute Bondo auto filler with acetone until it has a "melted ice cream / Tabasco sauce" consistency</li>
	<li>Using a disposible foam brush, paint the Bondo slurry over the print in alternating directions with a minimum of 4 layers</li>
	<li>When dry, sand the Bondo down until it is smooth (220 grit)</li>
	<li>Spray the print with automotive filler primer</li>
	<li>Wet sand the print (dip the sandpaper in water while sanding) until smooth (400 grit then 600 grit)</li>
	<li>Rinse print when done</li>
	<li>Allow print to dry, then spray paint with base coat</li>
	<li>Additional painting may be applied from here, with the print being a smooth base with no visible layer lines</li>
	<li>The absence of visible layer lines allows for more advanced post processing techniques such as weathering to be applied</li>
</ul>
