@{
	ViewData["Title"] = "Functional Prints";
}
<h1>@ViewData["Title"]</h1>

<h2>Printing with a Purpose</h2>

<p>
	Functional 3D printing is the process of creating objects that serve a specific purpose or function, rather than just being decorative or artistic. 
	These prints are designed to be used in real-world applications, such as replacement parts for machines, tools, or even custom-designed products.
	Functional prints often require a higher level of precision and strength compared to decorative prints, as they need to withstand real-world use and stress.
</p>

<h3>Functional Considerations</h3>

<p>
	A functional 3D print needs to be designed with specific considerations in mind, such as the intended use of the object, the materials being used, and the printing process itself.
	When designing a part, one must consider the mechanical structure of the part and any forces that will be applied to it.
	Additionally, the choice of material is crucial, as different materials have varying levels of strength, flexibility, and durability.
	Each material has its own unique properties that can affect the performance of the final print, such as its ability to withstand heat, its resistance to wear and tear, and its flexibility.
	For rigid, outdoor , or load-bearing parts, materials such as ABS, PETG, or Nylon are often used for their strength and durability.
	Some functional prints may intentionally incorporate flexibility, such as a custom phone case or a flexible hinge, in which case materials like TPU (Thermoplastic Polyurethane) may be used for their elasticity and durability.
	When preparing a functional print in slicing software, settings such as infill density, layer height, and print orientation can also affect the strength and performance of the final print.
</p>
