@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">Welcome!</h1>

<h4>What is 3D Printing?</h4>
<p>
    3D printing is a type of additive manufacturing, where layers of material are deposited on top of each other to form a 3 dimentional object.
    Traditional manufacturing is typically subtractive manufacturing, where a chunk of material is slowly cut down to the final object.
    Over the years, 3D printing has become increasingly more accessible to average consumers, with entry level printers only costing a couple hundred dollars at most.
    This price reduction has caused 3D printing to become a hobby of its own, with 3D printers being used for a variety of purposes.
</p>

<p>
    This website should be able to provide some basic information on how 3D printing works and the use cases that I am familiar with.
    For more information on my personal background and experience with 3D printing, 
    please visit the <a asp-controller="Home" asp-action="AboutMe">About Me</a> page.
</p>
