@{
	ViewData["Title"] = "3D Modeling";
}
<h1>@ViewData["Title"]</h1>

<h2>How is 3D Modeling Used for 3D Printing?</h2>

<p>
	3D modeling is the process of creating a 3 dimentional digital representation of an object using specialized software.
	For functional 3D prints, CAD (Computer-Aided Design) software is commonly used to create precise and accurate models that can be printed with high detail and functionality.
	This software allows users to create complex geometries, add features such as holes and threads, and optimize the design for printing with specific materials.
	For artistic or cosplay prints, 3D modeling software can be used to create more organic and visually appealing designs, with a focus on aesthetics rather than functionality.
	These types of organic modeling software often have sculpting features that allow for more organic and freeform designs, 
	with the users effectively "sculpting" the model as if it were a physical object, rather than using precise measurements like in CAD software.
</p>

<h3>Processing a 3D Model for 3D Printing</h3>

<p>
	Once a 3D model is created, it needs to be processed and converted into printing instructions that a 3D printer can understand. 
	This requires slicing the model into layers and generating the necessary instructions for the printer to create the object.
	Slicing software takes the 3D model and divides it into thin horizontal layers, creating a series of cross-sections that the printer can follow to build the object layer by layer.
	The slicing software also allows users to adjust settings such as layer height, infill density, and support structures, which can affect the strength, appearance, and print time of the final object.
</p>
