@{
    ViewData["Title"] = "Printers";
}
<h1>@ViewData["Title"]</h1>

<h2>What are the different types of 3D printers?</h2>

<p>
	The two most common types of 3D printers are FDM (Fused Deposition Modeling) and SLA (Stereolithography).
	FDM printers work by melting a plastic filament and depositing it layer by layer to create the final object, 
	while SLA printers use a laser to cure a liquid resin into solid layers. 
	There are also other types of 3D printers, such as SLS (Selective Laser Sintering) and DLP (Digital Light Processing), 
	but FDM and SLA are the most widely used and accessible for hobbyists and consumers.
</p>

<h4>FDM (Fused Deposition Modeling) / Classic Printers</h4>
<p>
	FDM printers are generally more affordable and easier to use, making them a popular choice for beginners and hobbyists. 
	They are the most common type of 3D printer and are widely available in a variety of sizes and price ranges, with more advanced models offering features such as dual extrusion and larger build volumes.
	These printers typically have a lower printing resolution compared to SLA printers, with visible layer lines and less detail in the final print, but are better suited for printing larger objects and functional 
	parts due to being able to use a wider range of materials, such as PLA, ABS, PETG, and more.
</p>

<h4>SLA (Stereolithography) / Resin Printers</h4>
<p>
	SLA printers are known for their high precision and ability to produce highly detailed prints with smooth surfaces. 
	They are often used for applications that require a high level of detail, such as jewelry making, dental models, and miniatures. 
	However, they can be more expensive and require more maintenance than FDM printers, with the resin based prints requiring additional post-processing steps such as washing and curing, 
	and the resin itself being more expensive than filament used in FDM printers.
</p>